.hero {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: Fadein .3s;

    .apresentacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        h1 {
            font-size: 3rem;
            text-align: center;
        }

        .socials {
            margin: 2rem 0;
            a {
                transition: .3s;
                &:nth-child(1) {
                    margin-right: .75rem;
                }

                &:hover {
                    color: var(--primary-color)
                }
            }
        }
    }
}

.aboutMe {
    margin-top: 7rem;

    .text {
        text-align: center;

        p:nth-child(1) {
            font-size:2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }
}

.projectsHome {
    margin-top: 7rem;
    animation: Fadein .3s;
    text-align: center;

    & > p {
        margin-bottom: 3rem;
    }


    p:nth-child(1) {
        font-size:2rem;
        font-weight: bold;
    }

    .swiperContainer {
        margin-bottom: 3rem;
    }

    a {
        margin-top: 3rem;
        color: white;
        background-color: var(--primary-color);
        padding: 1rem 2rem;
        border: 2px solid var(--primary-color);
        border-radius: 2rem;
        transition: .2s;

        &:hover {
            color: var(--primary-color);
            background-color: white;
        }
    }

    .swiperContainer {
        .descricaoProjeto {
            text-align: left;
            p:nth-child(1) {
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }
}

.SectionCardHome {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p:nth-child(1) {
        font-size:2rem;
        font-weight: bold;
    }

    a {
        margin-top: 3rem;
        color: white;
        background-color: var(--primary-color);
        padding: 1rem 2rem;
        border: 2px solid var(--primary-color);
        border-radius: 2rem;
        transition: .2s;

        &:hover {
            color: var(--primary-color);
            background-color: white;
        }
    }
}

@media(min-width: 1050px) {
    .hero {
        flex-direction: row;

        .apresentacao {
            width: 900px;
        }
        img {
            max-width: 900px !important;
        }
    }

    .aboutMe {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .text {
            text-align: left;
            max-width: 600px;

            p {
                font-size: 1.5rem;
            }
    
            p:nth-child(1) {
                font-size:2.5rem;
            }
        }
    }

    .projectsHome > p {
        font-size: 2.5rem !important;
    }

    .SectionCardHome p:nth-child(1) {
        font-size:2.5rem;
    }
}

@media(min-width: 1500px) {
    .projectsHome {
        max-width: 100%;
        .swiperContainer {
            display: flex;
            align-items: center;
            gap: 3rem;
        }
    }
}



@keyframes Fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }